[user]
	name = Shawn Medero
	email = soypunk@gmail.com
[core]
	excludesfile = ~/.gitignore
	editor = bbedit --wait --resume
[diff]
    tool = "bbdiff"
[difftool]
    prompt = false
[difftool "bbdiff"]
    cmd = /usr/bin/bbdiff --wait --resume "$LOCAL" "$REMOTE
